<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.PageTitle</title>
</head>
<body>
    <div> @ViewBag.Emp.Name</div>
    <div> @ViewBag.Emp.Department</div>
    <div> @ViewBag.Emp.Email</div>
</body>
</html>