@model LearnAspnetCore.Models.Employee
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Employee details</title>
</head>
<body>
    <h1> Emp details with Strongly typed view</h1>
    <div>Name : @Model.Name</div>
</body>
</html>