@model Employee
@{ 
   
    ViewBag.Title = "Employee";
}
   

<h1> Emp details with Strongly typed view</h1>
<div>Name : @Model.Name</div>
<div> Email: @Model.Email</div>
<div>Department: @Model.Department</div>
